HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.env


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
# Exclusiones específicas para pruebas (ajusta según tu proyecto)
# src/test/
src/test/java/com/manager/boats/rental/boats_rental/controllers
src/test/java/com/manager/boats/rental/boats_rental/services
src/test/java/com/manager/boats/rental/boats_rental/repositories
src/test/**/*.class